.choices {
    background-color: rgb(226, 157, 226);
    color: white;
}

.choices:hover {
    background-color:salmon;
}

.show {
    display: block;
}

.hide {
    display: none;
}

#quiz, #intro {
    margin:20px;
}

#start-btn {
    background-color: rgb(226, 157, 226);
    color: white;
}

.gameOver, .titleScore {
    text-align: center;
    margin: 50px;
}

